h1{
    color:red;
    font-size: 5em;
}

.special{
    color: purple;
    font-weight: bold;
}

li.special{
    color:brown;
}

h1 + p + p{
    color:aqua
}

a:hover{
    color:red;
}

a:visited{
    color:blue
}

